body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: sticky;
    padding: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.header a {
    color: #fff;
    padding: 10px;
    font-weight: bold;
}

nav a:hover {
    background-color: #585858;
    color: #f2f2f2;
}

a {
    text-decoration: none;
}

.btn,
.btn a {
    background-color: #0065be;
    color: #f2f2f2;
    margin: 10px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: medium;
    width: 175px;
    height: 30px;
}

.card {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a li {
    color: #333;
    list-style-type: none;
    font-size: large;
}

a .btn:hover {
    cursor: pointer;
}

h1, h2, .center{
    text-align: center!important;
}

.name {
    font-size: 20px;
    color: #0065be;    
}

img{
    width: 100%;
}