body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.header a,
a.create-topic,
a.logout {
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 10%;
}

.header a:hover,
a.create-topic:hover,
a.logout:hover {
    background-color: #555;
}

.content {
    padding: 20px;
}

.welcome-message {
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    /* this will ensure the box wraps tightly around the text */
}

h1 {
    font-size: 28px;
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}

h1 span {
    font-weight: bold;
    color: #333;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-top: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a,
a.admin-username {
    color: #007BFF;
    text-decoration: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

a:hover {
    text-decoration: underline;
}

small {
    color: #888;
}

form {
    display: inline;
}

input[type="submit"] {
    background-color: #FF5722;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

input[type="submit"]:hover {
    background-color: #E64A19;
}

.table-container {
    overflow-x: auto;
}

.profile-pic {
    max-width: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    border: #555 2px solid;
}

.create-topic, .logout {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
    display: block;

}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px 40px;
}

h1, h2 {
    color: #000000;
}

.success-message, .error-message {
    padding: 10px;
    border-radius: 3px;
    margin: 10px 0;
    text-align: center;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

label {
    display: block;
    margin-top: 10px;
    color: #555;
}

select, textarea, input[type="submit"] {
    /* width: 100%; */
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 14px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

a {
    /* display: block; */
    text-align: center;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}
img {
    max-width: 100%;
    border-radius: 5px;
}
.topic-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff;
}
/* Apply styles to the profile picture */
.profile-pic {
    max-width: 150px;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}
.form-section {
    margin: 10px auto;
    height: 100%;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    line-height: 1.5;
    font-weight: 400;
}
.form-section input {
    border: 0.5px solid black;
    border-radius: 3px;
    padding: 5px;
}

.submit-button{
    display: block;
    text-align: center !important;
}

.submit-button input{
    width: 150px;
}

.form-group{
    margin: 0 auto;
}

.container li {
    text-align: left;
}

.replies, 
.replies:hover,
.replies:visited,
.replies:active {
    text-decoration: none;
    color: black;
}

.input-group {
    margin: 0 auto;
    width: 100%;
}